In [80]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

dfPolicyData = pd.read_csv("PolicyData.csv", delimiter = ";", encoding='latin-1')

dfInvoiceData = pd.read_csv("InvoiceData.csv", delimiter = ";")

In [81]:
# 1: Invoice is paid late
# 0: Invoice is not paid late
aLabels = [1, 0]
aConditions = [
    (dfInvoiceData["due_date"] < dfInvoiceData["paid_date"]),
    (dfInvoiceData["due_date"] >= dfInvoiceData["paid_date"])
]

dfInvoiceData["label"] = np.select(aConditions, aLabels)

In [82]:
#they are converted from object to float
dfInvoiceData["amount_premium"] = dfInvoiceData["amount_premium"].apply(lambda x: x.replace(',','.'), ).astype(float, errors = 'raise')
dfPolicyData["Premium"] = dfPolicyData["Premium"].apply(lambda x: x.replace(',','.'), ).head().astype(float, errors = 'raise')

dfPolicyData.info()
dfInvoiceData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68638 entries, 0 to 68637
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   policy_guid                   68638 non-null  object
 1   Country                       68638 non-null  object
 2   VehicleType                   68638 non-null  object
 3   VehicleUsage                  68638 non-null  object
 4   Power                         68638 non-null  int64
 5   Weight                        68638 non-null  int64
 6   VehicleFirstRegistrationYear  68638 non-null  int64
 7   Mark                          68638 non-null  object
 8   Model                         68638 non-null  object
 9   Deductible_general            68636 non-null  float64
 10  Fire                          68638 non-null  int64
 11  Theft                         68638 non-null  int64
 12  Natural_disasters             68638 non-null  int64
 13  Road_assistance               68638 non-null  int64
 14  Total_loss                    68638 non-null  int64
 15  Vandalism                     68638 non-null  int64
 16  Glass                         68638 non-null  int64
 17  Accident                      68638 non-null  int64
 18  Replacement_car               68638 non-null  int64
 19  Gender                        68638 non-null  object
 20  ClientBirthday                68595 non-null  object
 21  Region                        68638 non-null  object
 22  BMClassMOD                    68622 non-null  object
 23  Leasing                       68638 non-null  int64
 24  PolicyIssueDate               68638 non-null  object
 25  PolicyStartDate               68638 non-null  object
 26  PolicyEndDate                 68638 non-null  object
 27  PolicyActualEndDate           68638 non-null  object
 28  Nb_of_payments                68638 non-null  int64
 29  Premium                       5 non-null      float64
 30  Channel                       68638 non-null  object
 31  FuelType                      68638 non-null  object
 32  avgFuelConsumption            40680 non-null  float64
 33  DriveTrain                    68638 non-null  object
 34  RenewalIndicator              68638 non-null  int64
 35  IsRenewed                     68638 non-null  int64
 36  BalticRating                  68638 non-null  int64
 37  Terminated                    68638 non-null  int64
 38  sales_type                    68638 non-null  object
dtypes: float64(3), int64(18), object(18)
memory usage: 20.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358850 entries, 0 to 358849
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   invoice_guid    358850 non-null  object
 1   payment_status  358850 non-null  object
 2   policy_guid     358850 non-null  object
 3   amount_premium  358850 non-null  float64
 4   due_date        358850 non-null  object
 5   paid_date       358850 non-null  object
 6   label           358850 non-null  int32
dtypes: float64(1), int32(1), object(5)
memory usage: 17.8+ MB

In [83]:
# there are 12 types of number of payments
np.sort(dfPolicyData["Nb_of_payments"].unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [88]:
dfInvoiceData[dfInvoiceData["policy_guid"] == "{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E}"].sort_values("due_date")

,invoice_guid,payment_status,policy_guid,amount_premium,due_date,paid_date,label
45394,{25D842E1-603A-48A5-AE40-3A7CCFB8CB9C},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.84,2015-09-13 00:00,2015-09-13 00:00,0
45387,{87D14959-99DA-4B93-A593-A1C783788A22},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2015-10-12 00:00,2015-10-15 00:00,1
45392,{B84E8A7A-049C-4D38-BE8E-8547D468C522},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2015-11-12 00:00,2015-11-16 00:00,1
45390,{19C2CD23-1988-4635-9021-1197C6081636},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2015-12-12 00:00,2015-12-20 00:00,1
45386,{14211FF0-0174-4B42-9255-17F5BF3A4AC0},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2016-01-12 00:00,2016-01-22 00:00,1
45389,{9A258B5A-1E2B-4549-BFA2-EF9FD51D1152},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2016-02-12 00:00,2016-02-14 00:00,1
45388,{48E99438-D0FA-44A9-8A2F-E159EC335FA7},Paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2016-03-12 00:00,2016-03-10 00:00,0
45391,{9A302A82-8629-48B4-A3B9-A7AA85F53E36},Canceled and paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2016-06-12 00:00,2016-06-27 00:00,1
45393,{AEB1E807-3DB3-4CA5-884D-A849EE9A8057},Canceled and paid,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},21.75,2016-07-12 00:00,2016-06-27 00:00,0

In [89]:
dfPolicyData[dfPolicyData["policy_guid"] == "{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E}"]

,policy_guid,Country,VehicleType,VehicleUsage,Power,Weight,VehicleFirstRegistrationYear,Mark,Model,Deductible_general,Fire,Theft,Natural_disasters,Road_assistance,Total_loss,Vandalism,Glass,Accident,Replacement_car,Gender,ClientBirthday,Region,BMClassMOD,Leasing,PolicyIssueDate,PolicyStartDate,PolicyEndDate,PolicyActualEndDate,Nb_of_payments,Premium,Channel,FuelType,avgFuelConsumption,DriveTrain,RenewalIndicator,IsRenewed,BalticRating,Terminated,sales_type
0,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},EE,Passenger car,Regular,108,1895,2007,TOYOTA,AVENSIS,191.0,1,1,1,0,1,1,0,1,0,M,1983-10-19 00:00,HARJUMAA,0,0,2015-09-13 00:00,2015-09-13 00:00,2016-09-12 00:00,2016-05-24 00:00,12,261.09,Lean Operator,Gasoline,8.0,Front,0,0,3,1,Renewal

In [99]:
dfInvoiceData[["policy_guid", "label"]].groupby(["policy_guid"]).agg(['sum', 'count'])

                                       label
                                         sum count
policy_guid
{00002943-8C7A-4293-9715-0E4F09C6311D}     0     1
{000118B2-9E9C-4A98-A338-DC31DD7C1F59}     1    12
{0001A384-9AAC-44DF-BE77-D247F880B80B}     1     1
{0001C1D4-FB9E-4DD3-A539-1F53C3E2BDD9}     1     1
{00027C87-4647-41EB-A406-6EB60D5D83D8}     0    12
...                                      ...   ...
{FFFD2CDF-04DD-4DDE-9896-B4E7E1614847}     4     6
{FFFE2A08-A419-42B9-96A7-A71BF9BEC562}     2     6
{FFFF00E5-717D-4E62-B39A-E219EDD47E09}     2    12
{FFFF8151-3C7B-46F9-B971-7D5F03DB3B52}     0     1
{FFFFCA48-BC08-0C4B-AAB9-FA172CEB764C}     0     2

[68638 rows x 2 columns]

In [101]:
dfPolicyData.head()

,policy_guid,Country,VehicleType,VehicleUsage,Power,Weight,VehicleFirstRegistrationYear,Mark,Model,Deductible_general,Fire,Theft,Natural_disasters,Road_assistance,Total_loss,Vandalism,Glass,Accident,Replacement_car,Gender,ClientBirthday,Region,BMClassMOD,Leasing,PolicyIssueDate,PolicyStartDate,PolicyEndDate,PolicyActualEndDate,Nb_of_payments,Premium,Channel,FuelType,avgFuelConsumption,DriveTrain,RenewalIndicator,IsRenewed,BalticRating,Terminated,sales_type
0,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},EE,Passenger car,Regular,108,1895,2007,TOYOTA,AVENSIS,191.0,1,1,1,0,1,1,0,1,0,M,1983-10-19 00:00,HARJUMAA,0,0,2015-09-13 00:00,2015-09-13 00:00,2016-09-12 00:00,2016-05-24 00:00,12,261.09,Lean Operator,Gasoline,8.0,Front,0,0,3,1,Renewal
1,{CD63AD22-81C2-4A86-8E56-AF1084BE49E3},EE,Passenger car,Regular,120,2050,2008,VOLVO,S60,191.0,1,1,1,0,1,1,0,1,0,M,1959-08-11 00:00,PÄRNUMAA,0,0,2015-09-23 00:00,2015-09-23 00:00,2016-09-22 00:00,2015-10-22 00:00,12,297.22,Lean Operator,Diesel,7.0,Front,0,1,0,1,Renewal
2,{480DDB89-BA11-4219-A92C-330ABC6BE1EC},EE,Passenger car,Regular,125,1970,2012,VOLKSWAGEN,CC,191.0,1,1,1,1,1,1,1,1,0,M,1966-10-17 00:00,HARJUMAA,0,1,2015-09-14 00:00,2015-09-14 00:00,2016-09-13 00:00,2016-09-13 00:00,4,534.22,Direct,Diesel,5.0,Front,0,0,0,0,New sale
3,{74A1885E-CC4D-435B-B7CF-CAD0287FA814},EE,Passenger car,Regular,85,2510,2007,VOLKSWAGEN,SHARAN,191.0,1,1,1,1,1,1,1,1,0,M,1954-03-08 00:00,TARTUMAA,A1,0,2015-09-20 00:00,2015-09-20 00:00,2016-09-19 00:00,2015-10-04 00:00,12,275.24,Direct,Missing,NaN,Missing,0,1,5,1,New sale
4,{FF6D78C8-B660-4D58-8A9D-0FD6E32E2A03},EE,Passenger car,Regular,77,1780,2013,SKODA,OCTAVIA,191.0,1,0,1,1,1,1,1,1,0,M,1944-07-30 00:00,JÕGEVAMAA,0,0,2015-11-23 00:00,2015-11-23 00:00,2016-11-22 00:00,2016-04-22 00:00,12,239.77,Direct,Gasoline,NaN,Missing,0,0,2,1,New sale

In [113]:
#In the dataset not all policies are ended. It s a snapshot probably around June 2018.
#There could be 3 status of policies: "Ended on time", "Terminated" and "Ongoing"