In [18]:
import pandas as pd

In [31]:
aCryptoCurrencies = pd.read_csv('Data\cryptocurrencies.csv')['Symbol'].values

In [35]:
aModelTypes = pd.read_csv('Data\model types.csv')['Model Type'].values

# dfDescriptiveStats

In [19]:
dfOhlc = pd.read_csv('Data\dfOhlc.csv')
dfOhlc['timestamp'] = pd.DatetimeIndex(dfOhlc['timestamp'])
dfOhlc.set_index('timestamp', inplace=True)

In [20]:
dfDescriptiveStats = dfOhlc.filter(regex=':close').describe().round(2)

In [21]:
dfDescriptiveStats.columns = dfDescriptiveStats.columns.str.replace(r":close", "")

In [22]:
dfDescriptiveStats

         BTCUSD   ETHUSD   BCHUSD   LTCUSD   RPLUSD
count   6516.00  6516.00  6516.00  6516.00  6516.00
mean   49089.19  3563.92   481.58   161.14     0.93
std     8509.96   649.56   132.84    39.90     0.18
min    33098.05  2181.45   259.73    90.39     0.56
25%    42633.72  3053.48   355.08   131.84     0.78
50%    47299.22  3548.43   478.23   154.77     0.93
75%    56888.63  4096.23   599.14   187.79     1.09
max    68609.11  4845.78   794.64   288.53     1.41

# Experiments of Full Factorial Design for MLP

In [48]:
sModelType = 'MLP'
sDesignType = 'Full Factorial Design'
dfResponses = pd.DataFrame()
for sSymbol in aCryptoCurrencies:
    
        sExperimentsFilePath = 'Data\\' + sSymbol +'\\'+ sModelType + '\\'+ sDesignType + '\\Experiments.csv'
        dfExperiments =  pd.read_csv(sExperimentsFilePath, index_col = 'Run ID')
        if len(dfResponses.index) == 0 :
            dfResponses.index = dfExperiments.index
            
        dfResponses[sSymbol] = dfExperiments['Response']
        
dfResponses

           BTCUSD     ETHUSD      BCHUSD      LTCUSD     RPLUSD
Run ID
0       43.016034  66.648774  103.844628   76.462509  71.932582
1       55.321709  51.903681   72.310798   64.360962  70.940294
2       61.017270  85.856828   60.002681   76.215073  71.322352
3       57.556019  47.738101   84.157393   60.291911  72.283685
4       47.180658  61.026048   57.370821   68.597508  93.333953
5       46.498015  54.399182   66.477888   57.467463  60.754121
6       47.553545  57.882647   59.115250   64.382922  72.751859
7       50.336682  81.817027   75.791450  121.105611  72.151819
8       57.752481  60.169654   66.151176   71.184530  58.369017
9       84.087199  70.033345   87.690019   61.537413  96.655159
10      35.217871  86.335303   70.263456   63.668447  76.214444
11      54.859561  91.504351   61.459290   68.280978  80.545221
12      54.198743  54.309054   70.362318  111.662683  93.347182
13      47.382134  82.417475   62.377626   71.078437  78.200954
14      56.237415  73.755196   58.217644  108.010663  81.756816
15      51.331349  68.029025   65.768208   73.137089  63.440731